@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    background-color: white;    
}

/* ------------------------------------------------Navbar */

.custome-bg {
    background-color:#0D0221;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler
 {
    color: white;
}

.aboutme {
    text-align: left;
}

.hero-img {
    float: right;
    height: 300px;
    width: 300px;
    border: 2px solid #0D0221;
    border-radius: 15px;
}

/* --------------------------------------------Footer */

footer {
    background: #0D0221 ;
}

ul {
    list-style: none;
    text-align: center;
}

.social-media li {
    display: inline;
    font-size: 2rem;
}

.social-media a {
    color: white;
}

.mb-4 {
    margin-top: 10%;
}

.mb-4 .row {
    margin-left: 0;
    margin-right: 0;
}

.mb-4 h2 {
    color: #0D0221;
    font-size: 50px;
}

.mb-4 label {
    color: #fff;
    font-size: 20px;
}

.mb-4 .col-md-12 {
    padding-left: 30px;
    padding-right: 30px;
}

.nomargin {
    margin-top: 0 !important;
}

.btn-lg {
    padding: 10px 50px;
}

@media screen and (max-width: 1400px) {
    .mb-4 h2 {
        color: #fff;
    }
}