@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    background-color: white;    
    text-align: center;
}

/* ------------------------------------------------Navbar */

.custome-bg {
    background-color:#0D0221;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler
 {
    color: white;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

/* ------------------------------------------Header Section */

.aboutme {
    text-align: left;
}

.hero-img {
    float: right;
    height: 300px;
    width: 300px;
    border: 2px solid #0D0221;
    border-radius: 15px;
}

/* --------------------------------------------Footer */

footer {
    background: #0D0221 ;
}

ul {
    list-style: none;
    text-align: center;
}

.social-media li {
    display: inline;
    font-size: 2rem;
}

.social-media a {
    color: white;
}


